body,html {
    font-size: 30px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: transparent;
}

input {
    font-size: 30px;
    width: 15rem;
}

.popupContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupContainer > div {
    width: 15rem;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
}

.popupButton {
    background: none;
    box-shadow: none;
    font-size: 2rem;
    height: 4rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: 0.25rem solid #2b2b2b;
    border-radius: 0.5rem;
}

