body,html {
    font-size: 30px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: transparent;
}

input {
    font-size: 1rem;
    width: 15rem;
}
